/* Starter code/resets html margins and such/makes it into a box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling/hex code:411012 */
/* Apply the Cormorant Garamond font to the entire body */
body {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('entirebackground.png');
    color: #ffffff;
}

body {
  cursor: url('SkarrsingerKarmelitaCursor.png'), auto;
}

strong {
  font-weight: 700;
}
h1 {
    font-weight: 3000;
}
h2 {
    font-weight: 5000;
}

.flip-card {
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card2 {
  background-color: transparent;
}

.flip-card-inner2 {
  position: relative;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card2:hover .flip-card-inner2 {
  transform: rotateY(180deg);
}

.flip-card-front2, .flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front2 {
  background-color: #bbb;
  color: black;
}

.flip-card-back2 {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.back-text {
  width: 300px;      /* change this to any size you want */
  margin: 0 auto;    /* centers the text */
  text-align: center;
}


.music-btn {
  background: #000000;
  color: #ffffff;
  padding: 14px 26px;
  border: none;
  border-radius: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 60px;
  height: 40px;
  width: auto;

}

.music-btn {
  cursor: url('NKGrimmCursor.png'), pointer;
}


.dropdown {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #ffffff; /* or inherit */
  cursor: pointer;
  font-family: 'Cormorant Garamond', serif; 
  font-weight: 700;

}

.dropdown {
  cursor: url('NKGrimmCursor.png'), pointer;
}

.dropdown:focus {
  outline: none; /* optional: remove focus outline */
}

.dropdown:hover {
    color: #B71C1C;
}

.dropdown {
  position: relative;
}

/* Style the dropdown button */
.dropbtn {
  background-color: #000000;
  color: #000000;
  padding: 0px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn {
  cursor: url('NKGrimmCursor.png'), pointer;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside dropdown content */
.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffffff
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
    color: #FFAAAA;
  background-color: #FFAAAA;
}




/* Navigation Bar Container */
.navbar {
    background-color: #000000;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 0px;

    position: sticky;  /* Makes it stick */
     top: 0;            /* Distance from top */
    z-index: 1000;     /* Ensures it stays on top of other content */
}

/* Page content */
.content {
  height: 0px;  /* just to simulate scrolling */
  padding: 0px;
}

/* Logo Styling */
.logo img {
    height: 40px;
    width: auto;
    margin-right: 90px;
}

/* Navigation Menu List */
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 60px;
}

.navbar li {
    display: inline;
}

/* Navigation Links */
.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

/* Hover Effect for Navigation Links */
.navbar a:hover {
    color: #B71C1C;
}




/* Hero Section with Image Background */
.hero-section {
    background-image: url('silksongbosses.png');
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 60px;
    font-size: 20px;
}

.hero-section2 {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 60px;
    font-size: 20px;
}

.hero-section3 {
    background-image: url('backgroundredmemory.png');
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 60px;
    font-size: 20px;
.text-box {
    width: 1350px;
}}

.hero-section4 {
    background-image: url('mossgrotto.svg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 60px;
    font-size: 20px;
.text-box {
    width: 1350px;
}}

.hero-section5 {
    background-image: url('background.png');
    background-size: cover;
    background-position: center top; /* keep the top fixed */
    padding-bottom: 300px; /* extend downward (adjust this) */
    height: 750px; /* keep your original height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    font-size: 20px;
}
.text-box {
    width: 1200px;
}

.hero-section52 {
    background-image: url('background.png');
    background-size: cover;
    background-position: center top; /* keep the top fixed */
    padding-bottom: 0px; /* extend downward (adjust this) */
    height: 750px; /* keep your original height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    font-size: 20px;
}
.text-box {
    width: 1200px;
}

.image-row {
    gap: 0px;        /* space between images */
}
.image-row img {
    width: auto;     /* same width for each image */
    height: auto;    /* same height */
    object-fit: cover; /* keeps images from stretching weirdly */
}

.image-row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap; /* force side-by-side */
}

.flip-card2 {
  width: 300px;
  height: 300px;
  flex-shrink: 0; /* prevents shrinking vertically */
}

.hero-section62 {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 60px;
    font-size: 20px;
.text-box {
    width: 1200px;
}}

.hero-section6 {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 60px;
    font-size: 20px;
.text-box {
    width: 1200px;
}}


.hero-section7 {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    height: 2300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 20px;
    font-size: 20px;
    gap: 20px;
.text-box {
    width: 1200px;
}}

.hero-section8 {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    height: 2300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 20px;
    font-size: 20px;
.text-box {
    width: 1200px;
}}

.hero-section10 {
    background-image: url('backgroundbluesilksong.png');
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border-radius: 0px;
    margin-bottom: 60px;
    font-size: 20px;
.text-box {
    width: 800px;
}}





